<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MoneyTracker!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">
                <img alt="Brand" src="/images/logo.png" height="20">
              </a>
              <a class="navbar-brand" href="/">
                Money Tracker
              </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="<%= if dashboard_link_active?(@conn), do: "active" %>"><a href="/">Dashboard <span class="sr-only">(current)</span></a></li>
                <li class="<%= if place_link_active?(@conn), do: "active" %>"><a href="<%= place_path(@conn, :index) %>">Places <span class="sr-only">(current)</span></a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <%= if authenticated?(@conn) do %>
                  <p class="navbar-text"><%= raw "Hello, <b>#{@current_user.username}</b>!" %></p>
                  <li>
                    <%= button "Sign Out", to: session_path(@conn, :delete), method: :delete, class: "btn btn-danger navbar-btn" %>
                  </li>
                <% else %>
                  <li><a href="<%= session_path(@conn, :index) %>">Sign In</a></li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
