MONEY_TRACKER_HOST=localhost
MONEY_TRACKER_SECRET_KEY_BASE=u39qHZOiWfH6eBH3SHU7pD/WpGNu2nx2qC71v/pE4FffFaWMiNT+5t0ZoMFg4Xiz
MONEY_TRACKER_DB_USER=root
MONEY_TRACKER_DB_PASSWORD=
MONEY_TRACKER_DB_NAME=money_tracker_prod
MONEY_TRACKER_DB_HOST=postgres
