<h2>New transaction in place <b>"<%= @place.title %>"</b></h2>

<%= render "form.html", changeset: @changeset,
                        action: place_transaction_path(@conn, :create, @place) %>

<%= link "Back", to: place_transaction_path(@conn, :index, @place) %>
