<h2>Edit transaction</h2>

<%= render "form.html", changeset: @changeset,
                        action: place_transaction_path(@conn, :update, @place, @transaction) %>

<%= link "Back", to: place_transaction_path(@conn, :index, @place) %>
